.containerRegistrationForm {
  max-width: 600px; 
  margin: 0 auto; 
  padding: 20px; 
  background-color: #f9f9f9; 
  border-radius: 8px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
}


.registerForm {
  display: flex; 
  flex-direction: column;
  align-items: left;
  padding-right : 20px;
}

.containerRegistrationForm label {
  margin-bottom: 5px; 
  display: block; 
  color: black; 
}

.inputRegistrationForm textarea  {
  width: 100%; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  font-size: 16px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: border-color 0.3s; 
  resize: none; 
}

.containerForm input:focus, textarea:focus, .datePicker:focus {
  border-color: #007bff; 
  outline: none; 
}

.errorMessage {
  color: red; 
  font-size: 12px; 
}
.buttonsForm  {
  display: flex; 
  justify-content: space-between;
  margin-top: 20px;
}

.containerRegistrationForm button {
  padding: 10px 15px; 
  border: none; 
  color: #1b2ac9; 
  transition: background-color 0.3s;
  background-color: transparent; 
  font-size: 16px;
}

.containerRegistrationForm button:hover {
  transform: scale(1.2);

}
.sectorRadioButton {
  display: flex;
  gap:5px;
  align-items: center;
  justify-content: center;
}
.radioButton  {
  display: flex;
  
}


