
.formContainer {
  width: 500px;
  margin: 0 auto; 
  border: 1px solid #ccc; 
  border-radius: 10px; 
  background-color: #fff; 
}

.formContainer label {
  display: block; 
  margin-bottom: 5px; 
}

.formContainer input,
.formContainer textarea {
  width: 100%; 
  padding: 10px; 
  border: 1px solid #ccc; 
}
.datePicker {
  width: 100%; 
  padding: 10px; 
  border: 1px solid #ccc; 
}

.formContainer textarea {
  resize: vertical; 
  min-height: 100px; 
}

.formContainer button {
  background-color: transparent;
  color: #007bff; 
  border: none; 
  padding: 10px 15px; 
  border-radius: 5px; 
  font-size: 16px; 
}

.formContainer button:hover {
}

.errorMessage {
  color: red; 
  font-size: 12px; 
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
